.search-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--grey-one);
    background-color: var(--blue-two);
    font-size: 1rem;
}

.favorite-button {
    color: var(--grey-one);
}

.button-icon__grey {
    color: var(--grey-one);
}